* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: #fcf8ee;
    -webkit-user-select: none;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    user-select: none;
}

a:link,
a:visited,
a:hover,
a:active {
    color: inherit;
    text-decoration: none;
}

.curpoi {
    cursor: pointer !important;
}

.tebold {
    font-weight: bold !important;
}

.telight {
    font-weight: lighter !important;
}

.teleft {
    text-align: left !important;
}

.teright {
    text-align: right !important;
}

.tecenter {
    text-align: center !important;
}

.teupper {
    text-transform: uppercase !important;
}

.inline {
    display: inline-block !important;
}

.flex-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    flex-grow: 0;
}

.flex-row {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    flex-shrink: 0;
    flex-grow: 0;
}

.flex-wrap {
    flex-wrap: wrap;
}

.h1 {
    font-size: 70px;
    font-weight: 400;
    padding: 8px 0px;
}

.h2 {
    font-size: 60px;
    font-weight: 400;
    padding: 7px 0px;
}

.h3 {
    font-size: 50px;
    font-weight: 400;
    padding: 6px 0px;
}

.h4 {
    font-size: 40px;
    font-weight: 400;
    padding: 5px 0px;
}

.h5 {
    font-size: 30px;
    font-weight: 400;
    padding: 4px 0px;
}

.h6 {
    font-size: 25px;
    font-weight: 400;
    padding: 4px 0px;
}

.paddiv5 {
    padding: 5px;
}

.paddiv10 {
    padding: 10px;
}

.paddiv15 {
    padding: 15px;
}

.paddiv20 {
    padding: 20px;
}

.paddiv1vw {
    padding: 1vw;
}

.paddiv2vw {
    padding: 2vw;
}

.paddiv3vw {
    padding: 3vw;
}

.paddiv5vw {
    padding: 5vw;
}

.pink1 {
    color: #fd1a55
}

.pink2 {
    color: #d40239
}

.pink3 {
    color: #fd1e59;
}

.pink4 {
    color: #fd245d;
}

.pink5 {
    color: #fd2962;
}

.pink6 {
    color: #fd2d64;
}

.pink7 {
    color: #fd3b6e;
}

.white1 {
    color: #ffffff;
}

.white2 {
    color: #e3e3e3;
}

.white3 {
    color: #d3d3d3;
}

.white4 {
    color: #c3c3c3;
}

.white5 {
    color: #b3b3b3;
}

.white6 {
    color: #a3a3a3;
}

.white7 {
    color: #a3a3a3;
}

.blue1 {
    color: #349cfd;
}

.blue2 {
    color: #2896fd;
}

.blue3 {
    color: #1c90fd;
}

.blue4 {
    color: #026bcd;
}

.blue5 {
    color: #0265c1;
}

.blue6 {
    color: #025fb5;
}

.blue7 {
    color: #0b567e;
}

.black1 {
    color: #414141;
}

.black2 {
    color: #515151;
}

.black3 {
    color: #616161;
}

.black4 {
    color: #717171;
}

.black5 {
    color: #818181;
}

.black6 {
    color: #919191;
}


/* new set colors */

.cblue4 {
    color: #0093d3;
}

.cblue3 {
    color: #a1cffc;
}

.cblue2 {
    color: #1a75cf;
}

.cblue1 {
    color: #006ccc;
}

.cblue00 {
    color: #002060;
}

.bblue4 {
    background-color: #0093d3;
}

.bblue3 {
    background-color: #a1cffc;
}

.bblue2 {
    background-color: #1a75cf;
}

.bblue1 {
    background-color: #006ccc;
}

.bblue00 {
    background-color: #002060;
}

.cwhite00 {
    color: #f0f6fd;
}

.bwhite00 {
    background-color: #f0f6fd;
}

.social-sym {
    color: #ddd;
    font-size: 22px;
    padding: 8px;
    margin: 0px 2px;
}

.social-sym:hover {
    color: #fff;
}

.body-div {
    margin-top: 65px;
}

html {
    scroll-behavior: smooth;
}

 ::-webkit-scrollbar {
    width: 12px;
}

 ::-webkit-scrollbar-track {
    background: #414141;
}

 ::-webkit-scrollbar-thumb {
    background: #818181;
    border-radius: 6px;
}

 ::-webkit-scrollbar-thumb:hover {
    background: #a1a1a1;
}

#navbar {
    z-index: 60;
    background-color: #f0f6fd;
    position: fixed;
    top: 0;
    width: 100%;
    transition: top 0.3s;
}

#navbar p {
    font-size: 18px;
    display: inline;
}

.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
}

.nav-bar .img {
    margin: 15px 0px 15px 20px;
    height: 35px;
}

.nav-bar .img img {
    height: 35px;
}

.nav-bar .left {
    margin-right: 25px;
}

.width-fit {
    width: fit-content;
}

.nav-item {
    display: inline;
    padding: 14px 16px;
    font-size: 18px;
}

.nav-acti {
    color: #227fe6;
    border-bottom: solid 2px #227fe6;
}

.nav-item:hover {
    color: #227fe6;
}

.drop-men :after {
    content: '';
    display: none;
    width: 0;
    height: 0;
    border-top: 6px solid #f0f6fd;
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
    position: absolute;
    z-index: 1;
    top: calc(100% - -8px);
    left: 50%;
    margin-left: -6px
}

.drop-men-open {
    z-index: 120;
    position: relative;
}

.drop-men-open :after {
    display: block;
}

.mega-menu {
    z-index: 50;
    position: relative;
    height: 0px;
    transition: 0.3s;
}

.nav-drop-down {
    background: -webkit-linear-gradient(left, rgb(53 124 255) 0%, rgb(10 25 84) 100%);
    position: absolute;
    z-index: 100;
    width: 100vw;
    display: none;
}

.nav-drop-down .heading {
    color: #000;
    font-weight: bold;
    padding-bottom: 40px;
}

.sam-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.sam-nav .image {
    background-color: #000;
    height: 200px;
    width: 600px;
}

.sam-nav .abt-nav-img {
    background-image: url('img/about.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.sam-nav .con-nav-img {
    background-image: url('img/exp.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.sam-nav .matter {
    margin: 50px 50px 50px 0px;
    width: fit-content;
    color: #ffffff;
}

.sam-nav .right {
    width: calc(80vw - 600px);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.sam-nav .heading {
    color: #ffffff;
}

.sam-sub {
    color: #fff;
    font-size: 20px;
    padding-bottom: 20px;
}

.sam-res {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
}

.sam-res-one {
    width: 25vw;
    padding: 0px 25px;
    text-align: center;
}

.sam-res-two i {
    font-size: 12px;
    padding-right: 5px;
}

.sam-res h2 {
    color: #ffffff;
}

.sam-res-two {
    width: 70vw;
    padding: 30px;
}

.sam-res-sub {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
}

.sam-sub-one {
    width: 280px;
    padding: 10px 0px 10px 10px;
    color: #ffffff;
}

.sam-sub i {
    font-size: 12px;
    padding-right: 10px;
}


/*phone nav bar*/

.nav-side {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 100;
    top: 0;
    padding-left: 10px;
    right: -250px;
    background-color: #111;
    transition: 0.5s;
    height: 100%;
    width: 250px;
    padding-top: 60px;
}

.nav-side-open {
    overflow-y: auto;
    z-index: 100;
    right: 0px !important;
}

.nav-side .a {
    z-index: 100;
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.nav-side .a:hover {
    z-index: 100;
    color: #f1f1f1;
}


/*menu button*/

.icobut {
    top: 15px;
    right: 15px;
    position: fixed;
    cursor: pointer;
    z-index: 1000;
}

.x-bar1,
.x-bar2,
.x-bar3 {
    width: 30px;
    height: 6px;
    background-color: #000;
    border-radius: 3px;
    margin: 4px 0;
    transition: 0.4s;
}

.change .x-bar1 {
    background-color: #fff;
    -webkit-transform: rotate(-45deg) translate(-7px, 7px);
    transform: rotate(-45deg) translate(-7px, 7px);
}

.change .x-bar2 {
    background-color: #fff;
    opacity: 0;
}

.change .x-bar3 {
    background-color: #fff;
    -webkit-transform: rotate(45deg) translate(-7px, -7px);
    transform: rotate(45deg) translate(-7px, -7px);
}

.disp-phn-nav {
    display: none;
}

.disp-lap-nav {
    display: block;
}

main {
    margin-top: 65px;
    background-color: #ffffff;
}


/*Side bar*/

#mySidenav {
    position: fixed;
    bottom: calc(10% + 150px);
    left: 0px;
    z-index: 1000;
}

#mySidenav .div-bar {
    position: absolute;
    width: 150px;
    height: 50px;
    left: -100px;
    box-sizing: border-box;
    padding: 10px;
    transition: 0.3s;
    text-decoration: none;
    font-size: 20px;
    color: white;
    border-radius: 0 5px 5px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    z-index: 1000;
}

#mySidenav .title {
    font-size: 16px;
    font-weight: bold;
    width: 80px;
}

#mySidenav .icon {
    width: 30px;
}

#mySidenav .icon div {
    display: inline;
}

#mySidenav .div-bar:hover {
    left: 0;
}

#web-mail {
    top: 20px;
    background-color: #04AA6D;
}

#login {
    top: 80px;
    background-color: #2196F3;
}


/*footer*/

.foot-img {
    background-image: url('img/foot-lan.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    min-height: 300px;
}

.foot-img .bg {
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    width: 100%;
    height: 100%;
    min-height: 300px;
}

.foot-img .foot-grp {
    padding: 5vh 4vw;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-shrink: 0;
    flex-grow: 0;
}

.foot-left {
    width: 60vw;
    padding: 3vh 25px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    flex-shrink: 0;
    flex-grow: 1;
}

.foot-right {
    width: 30vw;
    padding: 3vh 0px 3vh 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    flex-grow: 0;
}

.foot-title {
    width: 100%;
    display: block;
    padding: 20px 25px;
}

.foot-img h1 {
    font-size: 24px;
}

.foot-img h3 {
    font-weight: lighter;
    font-size: 20px;
}

.foot-img .h-lin {
    margin: 8px 5% 0px;
    border: 0;
    width: 100%;
    height: 5px;
    background: #fd1a55;
    background-image: -webkit-linear-gradient(0deg, #349cfd, #fd1a55);
    background-image: -moz-linear-gradient(0deg, #349cfd, #fd1a55);
    background-image: -ms-linear-gradient(0deg, #349cfd, #fd1a55);
    background-image: -o-linear-gradient(0deg, #349cfd, #fd1a55);
}

.foot-img .links {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-shrink: 0;
    flex-grow: 0;
    width: 100%;
}

.foot-img .links .lin {
    margin: 10px 18px;
    width: 200px;
}

.foot-img .links .lin h3:hover {
    text-decoration: underline;
}

.copy {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-shrink: 0;
    flex-grow: 0;
    width: 100%;
    padding: 25px 15px;
}


/*top button*/

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: transparent;
    color: #aaa;
    cursor: pointer;
    padding: 8px;
    font-size: 35px;
}

#myBtn:hover {
    color: #fff;
}

@media only screen and (max-width: 320px) {
    .h1 {
        font-size: 32px;
    }
    .h2 {
        font-size: 30px;
    }
    .h3 {
        font-size: 27px;
    }
    .h4 {
        font-size: 22px;
    }
    .h5 {
        font-size: 20px;
    }
    .h6 {
        font-size: 17px;
    }
}

@media only screen and (min-width: 321px) and (max-width: 375px) {
    .h1 {
        font-size: 40px;
    }
    .h2 {
        font-size: 35px;
    }
    .h3 {
        font-size: 30px;
    }
    .h4 {
        font-size: 25px;
    }
    .h5 {
        font-size: 20px;
    }
    .h6 {
        font-size: 18px;
    }
}

@media only screen and (min-width: 376px) and (max-width: 425px) {
    .h1 {
        font-size: 45px;
    }
    .h2 {
        font-size: 40px;
    }
    .h3 {
        font-size: 35px;
    }
    .h4 {
        font-size: 30px;
    }
    .h5 {
        font-size: 25px;
    }
    .h6 {
        font-size: 20px;
    }
}

@media only screen and (min-width: 426px) and (max-width: 768px) {
    .h1 {
        font-size: 63px;
    }
    .h2 {
        font-size: 55px;
    }
    .h3 {
        font-size: 48px;
    }
    .h4 {
        font-size: 42px;
    }
    .h5 {
        font-size: 38px;
    }
    .h6 {
        font-size: 30px;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
    .h1 {
        font-size: 73px;
    }
    .h2 {
        font-size: 70px;
    }
    .h3 {
        font-size: 55px;
    }
    .h4 {
        font-size: 37px;
    }
    .h5 {
        font-size: 35px;
    }
    .h6 {
        font-size: 30x;
    }
}

@media only screen and (min-width: 1025px) and (max-width: 1440px) {
    .h1 {
        font-size: 80px;
    }
    .h2 {
        font-size: 75px;
    }
    .h3 {
        font-size: 65px;
    }
    .h4 {
        font-size: 45px;
    }
    .h5 {
        font-size: 40px;
    }
    .h6 {
        font-size: 35px;
    }
}

@media only screen and (min-width: 1441px) and (max-width: 2560px) {
    .h1 {
        font-size: 110px;
    }
    .h2 {
        font-size: 100px;
    }
    .h3 {
        font-size: 90px;
    }
    .h4 {
        font-size: 65px;
    }
    .h5 {
        font-size: 60px;
    }
    .h6 {
        font-size: 35px;
    }
}

@media screen and (max-width:835) {
    .foot-img .links {
        justify-content: space-evenly;
        align-items: flex-start;
    }
    .foot-left {
        justify-content: space-evenly;
        align-items: flex-start;
    }
}

@media screen and (max-width:975px) {
    .foot-img .links {
        justify-content: space-evenly;
        align-items: center;
    }
    .foot-img .foot-grp {
        padding: 5vh 3vw;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .foot-left {
        width: 85vw;
        padding: 3vh 0px;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
        flex-shrink: 0;
        flex-grow: 1;
    }
    .foot-right {
        width: 85vw;
        padding: 3vh 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
        flex-grow: 0;
    }
}

@media screen and (max-width:1100px) {
    .disp-phn-nav {
        display: block;
    }
    .disp-lap-nav {
        display: none;
    }
}

@media screen and (max-height: 450px) {
    .nav-side {
        padding-top: 15px;
    }
    .nav-side .a {
        font-size: 18px;
    }
}